h1{
    color: #9a8c98;
}
a:link, a:visited {
    background-color: #f2e9e4;
    color: #4a4e69;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active{
    background-color: #c9ada7 ;
}
p{
    color: #22223b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}